body{
    color:white;
    background:black;
    margin: 0px;
}

header {

    border-bottom: solid 2px rgb(0, 162, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(185, 124, 204);

 section {
    background: rgba (225, 0, 255,0,514)
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

 
}
.chamada-texto{
    margin-right: 5%;
}
